  body{
    background: hwb(0 100% 0%);
    font-family: 'Open Sans', sans-serif;
  }

.card {
  display:inline-block;
 
}


  .form-switch {
    padding-left: 2.5em;
    text-align: left;
}
#user {
  color: white;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.content > div > div.card {
  margin-right: 75px;
}
#navbarNav {
  display: flex;
  justify-content: space-around
}
a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

a:hover::before {
  transform: scaleX(1);
  
  transform-origin: bottom left;
}

a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(30, 152, 245, 0.514);
  
  z-index: -1;
  transition: transform .3s ease;
}
a {
  text-decoration: none;
  position: relative;
  color: rgb(23, 29, 32);
  font-size: 15px;
}
input:focus {
  outline: none;
}

.img-same {
  height: 300px;
  width: 100%;
}

.button {
  margin: 5px;
}

.addsneaker {
  margin: 0 28%;
}

/* .side-bar > form > div.card {
  margin: 5px;
}

.side-bar > form > form > div {
  margin: 5px;
} */

/* .content > div {
  flex: 1fr;
} */
  /* nav .navbar-nav li a{
    color: white !important;
    } */